USE [master]
GO
/****** Object:  Database [BDCurso]    Script Date: 18/2/2025 3:28:58 p. m. ******/
CREATE DATABASE [BDCurso]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDCurso', FILENAME = N'F:\DATA\BDCurso.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDCurso_log', FILENAME = N'F:\DATA\BDCurso_log.ldf' , SIZE = 67904KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDCurso].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDCurso]
GO
/****** Object:  User [CONTRALORIA\mariancastillo]    Script Date: 18/2/2025 3:28:58 p. m. ******/
CREATE USER [CONTRALORIA\mariancastillo] FOR LOGIN [CONTRALORIA\mariancastillo] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [CONTRALORIA\mariancastillo]
GO
/****** Object:  Table [dbo].[CategoriaCurso]    Script Date: 18/2/2025 3:28:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaCurso](
	[IIDCATEGORIACURSO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[HABILITADO] [int] NULL,
 CONSTRAINT [PK_TipoCurso] PRIMARY KEY CLUSTERED 
(
	[IIDCATEGORIACURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 18/2/2025 3:28:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[IIDCURSO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](150) NULL,
	[DESCRIPCION] [varchar](1000) NULL,
	[IIDCATEGORIACURSO] [int] NULL,
	[PRECIO] [decimal](18, 2) NOT NULL,
	[CUPON] [varchar](200) NULL,
	[BHABILITADO] [int] NULL,
	[IMAGEN] [varchar](max) NULL,
 CONSTRAINT [PK_Curso] PRIMARY KEY CLUSTERED 
(
	[IIDCURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeccionCurso]    Script Date: 18/2/2025 3:28:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeccionCurso](
	[IIDSECCION] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRESECCION] [varchar](100) NULL,
	[IIDCURSO] [int] NULL,
	[DESCRIPCIONSECCION] [varchar](100) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_SeccionCurso] PRIMARY KEY CLUSTERED 
(
	[IIDSECCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideosSeccion]    Script Date: 18/2/2025 3:28:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideosSeccion](
	[IIDVIDEOS] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[VIDEO] [varchar](max) NULL,
	[ENLACE] [varchar](100) NULL,
	[BHABILITADO] [int] NULL,
	[IIDSECCION] [int] NULL,
 CONSTRAINT [PK_VideosSeccions] PRIMARY KEY CLUSTERED 
(
	[IIDVIDEOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_CategoriaCurso] FOREIGN KEY([IIDCATEGORIACURSO])
REFERENCES [dbo].[CategoriaCurso] ([IIDCATEGORIACURSO])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_CategoriaCurso]
GO
ALTER TABLE [dbo].[SeccionCurso]  WITH CHECK ADD  CONSTRAINT [FK_SeccionCurso_Curso] FOREIGN KEY([IIDCURSO])
REFERENCES [dbo].[Curso] ([IIDCURSO])
GO
ALTER TABLE [dbo].[SeccionCurso] CHECK CONSTRAINT [FK_SeccionCurso_Curso]
GO
ALTER TABLE [dbo].[VideosSeccion]  WITH CHECK ADD  CONSTRAINT [FK_VideosSeccion_SeccionCurso] FOREIGN KEY([IIDSECCION])
REFERENCES [dbo].[SeccionCurso] ([IIDSECCION])
GO
ALTER TABLE [dbo].[VideosSeccion] CHECK CONSTRAINT [FK_VideosSeccion_SeccionCurso]
GO
USE [master]
GO
